/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reset*/


body{
    width: 1000px;
    margin: auto;
}

.header{
    margin: 0;
}

a{
    text-decoration: none;
}

.header .topBar{
    margin-top: 10px;
    background: #f6f6f6;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header .topBar ul{
    /* border: 1px solid black; */

    display: flex;
    justify-content: flex-end; /* float: right; */
    padding-top: 5px;
}

.header .topBar li{
    /* border: 1px solid black; */

    padding-right: 10px;
    /* padding-top: 2px; */
    box-sizing: border-box;
    padding-right: 10px;
}

.header .topBar .fb{
    border-right: gray 2px solid ;
    padding-left: 10px;
}

.header .topBar .fb a{
    color: #4a6bb8;
}

.header .topBar .fb a:hover{
    color: #082361;
}

.header .topBar .tw{
    padding-left: 10px;
}

.header .topBar .tw a{
    color: #00aaec;
}

.header .topBar .tw a:hover{
    color: #0687b9;
}

.header .topBar img{
    padding-right: 3px;
    padding-top: 1px;
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center; /*交錯軸對齊*/
}

/* .menu .logo{
    width: 225px;
	height: 50px;
    background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png");
    是要放在<a>裡面
} */

.menu .logo a{
    width: 225px;
	height: 50px;
    background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png");
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.menu ul{
    display: flex;
    justify-content: space-evenly;
}

.menu ul>a{
    text-align: center;
}

.menu ul .list{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.856);
    display: none;
    text-align: center;
    border-top: #87f5d6 5px solid;
}


/* show menu */
.menu ul li.show .list{
    display: block;
    position: absolute;
    top: 105px;
    margin: 0 auto;
    text-align: center;
    /* 沒反應QQ */
    transition: all 3s;
    /* 覆蓋 */
    z-index: 100;
    padding-left: 5px;

}

.menu ul li.show .list li{
    text-align: center;
}

.menu ul li.show .list a:hover{
    color: rgb(113, 170, 255);
    border: none;
}

.menu ul .list li {
    margin-top: 10px;
}

.menu ul li {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu ul li>a{
    margin-right: 30px;
    padding-left: 30px;
    font-size: 20px;
    color: #42d3a9;
    font-weight: bold;
}

.menu ul li .list a {
    color: #42d3a9;
}



.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer .logo a{
    width: 225px;
	height: 50px;
    background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/footerLogo.png");
    background-repeat: no-repeat;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 21px;
}

.footer ul p{
    display: inline;
    line-height: 25px;
}

.footer ul .red, .footer ul .red a{
    color: #e12d80;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}

.footer ul a:hover{
    color: rgb(6, 216, 111);
}

.content{
    padding-top: 10px;
}

.content .banner{
    height: 340px;
    background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png");
    /* z-index: 1; */
    position: relative;
}

.content .background{
    background: rgba(0, 0, 0, 0.397);
    /* z-index: 10; */
    padding-bottom: 30px;
    width: 100%;
    position: absolute;
    top: 90px; /* or margin-top: 90px;*/  /* 360-160=180 */
}

.content .background p{
    color: white;
    font-size: 30px;
    line-height: 40px;
    margin-left: 25px;
}

.content .background .p1{
    margin-top: 40px;
}

.content .course{
    display: flex;
    justify-content: space-between; /***這好像沒反應*/
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px; 
}


.content .course .html5{
    /* border: 1px solid black; */
    box-shadow: 0px 1px  2px rgba(136, 135, 135, 0.767);
    padding: 10px;
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
}

.content .course li p, .content .course li{
    line-height: 25px;
}

.content .course .jq li p{
    text-align: center;
}

.content .course li>ul{
    list-style: disc;
    margin-left:30px ;
    margin-top: 10px;
}

.content .course .rwd{
    /* border: 1px solid black; */
    box-shadow: 0px 1px  2px rgba(136, 135, 135, 0.767);
    padding: 10px;
    width: 300px;
    margin-right: 30px;
}

.content .course .jq{
    /* border: 1px solid black; */
    box-shadow: 0px 1px  2px rgba(136, 135, 135, 0.767);
    padding: 10px;
    width: 300px;
    margin-right: 30px;
}


/*圖片外設定寬高*/
.content .course .distance{
    /* border: 1px black solid; */

    margin: auto;
    width: 95%;
    height: 150px;
    margin-bottom: 10px;
    
    /*讓圖片垂直置中*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.content .course h2{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.content .course p{
    margin: auto;
    margin-top: 10px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


.dif h2{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

.dif table{
    /* width: 830px; */

    margin: auto;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.dif .green{
    color: #42d3a9;
}

.dif table td, .dif table th{
    border-top: 1px solid rgba(97, 95, 95, 0.753);
    border-bottom: 1px solid rgba(97, 95, 95, 0.753);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.dif table th{
    font-weight: bold;
    text-align: left;
    background: #f7f7f7;
}

.dif table .rowHead{
    font-weight: 500;
}



.interest{
    background: linear-gradient(#00654b, #009872);
    margin: auto;
    margin-top: 60px;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
}

.interest .wrap{
    padding-bottom: 30px;
}

.interest h2, h3{
    font-size: 20px;
    font-style: Arial;
    padding: 5px;
    color: white;
    text-align: center;
}

.interest form{
    padding-top: 35px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
    padding-left: 10px;
}

.interest .txta{
    /* border: black 10px solid; */
    height: 250px;
    width: 460px;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
}

.info input{
    /* width: 460px; */
    height: 30px;
    border-radius: 3px;
    border: white;
    padding-left: 10px;  /* 輸入框的字與輸入框 */
}

.interest .info label{
    color: white;
    font-weight: bold;
}

.info .btn{
    color: white;
    background: #00cc99;
    width: 70px;
    align-self: flex-end; /* 複寫align-item */
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
}

.info .btn:hover{
    background: rgb(10, 167, 107);
}